@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Please read the <a href="https://www.willistowerswatson.com/en-US/Notices/global-website-privacy-notice" target="_blank">Privacy policy.</a></p>
